{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" style="margin-bottom: 100px; overflow-x: auto;">
    <h3 class="my-4">All Orders for {{ product.product_name}}</h3>
    {% if orders %}
        {% for order in orders %}
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title"></h3>
                    <p class="card-text"><strong>username:</strong>{{order.user.email}}</p>

                    <p class="card-text"><strong>Address:</strong> {{order.address}}</p>
                    <p class="card-text"><strong>Phone:</strong> {{order.phone}}</p>

                    <p class="card-text"><strong>Order_Status:</strong> {{ order.order_status}}</p>
                    <p class="card-text"><strong>Delivery_Status:</strong> {{order.delivery_status}}</p>
                    <p class="card-text"><strong>No_Of_Items:</strong> {{ order.no_of_items }}</p>
                    <p class="card-text"><strong>Mode of payment</strong> {{ order.mode_of_payment }}</p>
                    <p class="card-text"><strong>Total:</strong> {{ order.sub_total}}</p>
                    <a href="{% url 'ecommerceapp:change-status' order.id 'Confirmed' %}" class="btn btn-success mr-2">Deliverd</a>
                    <a href="{% url 'ecommerceapp:change-status' order.id 'on tansisting' %}" class="btn btn-danger">on tansisting</a>
                    <a href="{% url 'ecommerceapp:change-status' order.id 'out for delivery' %}" class="btn btn-danger">out for delivery</a>
                   
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info" role="alert">
            No orders found for this product.
        </div>
    {% endif %}
</div>
{% endblock %}
