{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}

<div class="card bg-light p-5">

 {% for message in messages %}

<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

<h3 class="text-dark ">Login</h3>

<form action='/users/login/' method="post">
  {% csrf_token %}

  <br />

  <label for="email">Email</label>

  <div class="form-group">
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      required
    />
  </div>

  <label for="pass1">Password</label>

  <div class="form-group">
    <input
      type="password"
      class="form-control"
      id="pass1"
      name="pass1"
      required
    />
  </div>


  <br />

  <button type="submit" class="btn btn-danger">Login</button>

  <br />
</form>
NEw user <a href="/users/signup/">signup here</a>
reset password <a href="/users/request-reset-email/">reset password</a>


<br />
</div>
{% endblock content %}
