{% extends 'base.html' %}
{% block title %}Reset password{% endblock title %}
{% block content %}

<div class="card bg-light p-5">

 {% for message in messages %}

<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

<h3 class="text-dark">Request a reset link</h3>

<form action='/users/request-reset-email/' method="post">
  {% csrf_token %}

  <br />

  <label for="email">Email</label>

  <div class="form-group">
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      required
    />


  <br />

  <button type="submit" class="btn">submit</button>

  <br />
</form>
 <a href="/">Goback</a>

<br />
</div>
{% endblock content %}
